.matching {

    .matching-columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3em;
        align-items: start;
    }

    section {
        flex: 1;
        overflow: hidden;

        &.matching-center {
            overflow: visible;
        }
    }

    h3 {
        text-align: center;
    }

    .matching-block {
        background: #fff;
        border: 2px solid $color-p3;
        border-radius: 0.25em;
        padding: 1em;
        overflow: visible;
    }

    .matching-link-block {
        overflow: hidden;

        .link-search {
            padding-bottom: 0.25em;
        }

        .link-list {
            max-height: 72vh;
            width: 100%;
            overflow: auto;

            .link {
                transition: 0s;
            }
        }

        .link-counter {
            font-size: 0.875rem;
            text-align: center;
            color: $color-p2;
            opacity: 0.75;
        }

        .link-list::-webkit-scrollbar-track {-webkit-box-shadow:none; background-color: transparent; height:4px; width: 4px;}
        .link-list::-webkit-scrollbar {width: 4px; height: 4px; background-color:transparent; -webkit-box-shadow:none;}
        .link-list::-webkit-scrollbar-thumb {width: 4px; height: 4px; background-color: transparent; -webkit-box-shadow:none;}
        .link-list::-webkit-scrollbar-corner {background: transparent;}

        .link-list:hover::-webkit-scrollbar-track,
        .link-list:focus-within::-webkit-scrollbar-track {-webkit-box-shadow:none; background-color: transparent; height:4px; width: 4px;}
        .link-list:hover::-webkit-scrollbar,
        .link-list:focus-within::-webkit-scrollbar {width: 4px; height: 4px; background-color: transparent; -webkit-box-shadow:none;}
        .link-list:hover::-webkit-scrollbar-thumb,
        .link-list:focus-within::-webkit-scrollbar-thumb {width: 4px; height: 4px; background-color: $color-p3; -webkit-box-shadow:none;}
        .link-list::-webkit-scrollbar-corner,
        .link-list:hover:focus-within::-webkit-scrollbar-corner {background: transparent;}
    }

    .drop-new {
        margin-top: 30px;
        padding: 0.5em;
        border-radius: 0.25em;
        background: $color-s1;

        .link {
            opacity: 0;
            transform: translate(0, -1em);
            animation: fade-link-in forwards 250ms ease;

            @keyframes fade-link-in {
                100% {
                    opacity: 1;
                    transform: translate(0, 0)
                }
            }

            &:hover,
            &:focus {
                background: #fff;
            }
        }
    }

    .drop-old {
        position: relative;
        position: relative;
        background: $color-p3;
        border-radius: 0.25em;
        padding: 0.5em;

        .link {
            opacity: 0;
            transform: translate(0, -1em);
            animation: fade-link-in forwards 250ms ease;

            @keyframes fade-link-in {
                100% {
                    opacity: 1;
                    transform: translate(0, 0)
                }
            }

            &:hover,
            &:focus {
                background: $color-p4;
            }
        }

        .dot-indicators {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .dot-indicators-path {
                stroke: $color-s0;
                stroke-width: 4;
                stroke-linecap: round;
                stroke-dasharray: 0.5 10;
                animation: dot-indicators 600ms linear infinite;

                @keyframes dot-indicators {
                    100% {
                        stroke-dashoffset: 10;
                    }
                }
            }
        }
    }

    .drop-actions {
        transform: translate(0, 2.25em);
        margin-top: -1em;
    }
}
