.partial-match-link {
    position: relative;
    background: #fff;
    display: grid;
    grid-template-columns: 5fr auto;
    border-bottom: 2px solid $color-p4;

    .compare {
        display: grid;
        grid-template-columns: 6fr 6fr 1fr;

        &-old {
            font-weight: 600;
            padding: 0.5em;

            span {
                display: inline-flex;
                padding: 0.65em 0.75em;
                font-weight: 600;
                line-height: 1.5;
                width: 100%;
                transition: 150ms ease;
            }

            a {
                text-decoration: none;
                color: inherit;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        &-error {
            outline: 2px solid #c53030;
            outline-offset: -2px;
            background: #fed7d7;
        }

        &-new {
            padding: 0.5em;
            margin: 0;

            &:last-of-type {
                border-left: 2px solid $color-p4;
            }
        }

        &-probability {
            padding: 0.5em;
            margin: 0;
        }

        p {
            margin: 0;

            &:nth-of-type(2) .link:after {
                opacity: 0.5;
            }

            &:nth-of-type(3) .link:after {
                opacity: 0.25;
            }
        }

        .link {
            position: relative;
            @include fluid('font-size', 1.125rem, 1.25rem);
            font-weight: 400;
            line-height: 1.5;
            padding-right: 1.75em;

            &-selected {
                font-weight: 600;
            }

            span {
                font-size: inherit;

                span {
                    border-bottom: dotted 2px lighten($color-p2, 15%);
                }
            }

            &::after {
                position: absolute;
                top: 50%;
                left: calc(100% + 1em);
                content: attr(data-probability);
                transform: translate(0, -50%);
                outline: none;
                padding: 0.65em 0.75em;
                opacity: 0.75;
            }

            &:hover,
            &:focus-within {
                a {
                    opacity: 0.5;
                }
            }

            a {
                position: absolute;
                top: 0;
                right: 0.75em;
                transform: translate(0%, 50%);
                color: #2d3748;
                margin-left: 0.25em;
                opacity: 0;
                transition: 120ms ease;

                svg {
                    display: inline-flex;
                    width: 0.75em;
                    height: 0.75em;
                }

                &:hover {
                    opacity: 1;
                }
            }

            &:hover,
            &:focus {
                span span {
                    border-color: $color-p2;
                }
            }
        }
    }

    .tray {
        //background: $color-p4;
        padding: 0.5em;
        justify-content: flex-end;
        border-left: 2px solid $color-p4;
    }

    .buttons {
        align-items: flex-start;
    }

    &-confirmed {
        background: $color-s1;
        border-color: $color-s1;

        .compare {
            > * {
                &:last-of-type {
                    border-color: $color-s1;
                }
            }
        }

        .tray {
            background: $color-s1;
        }
    }
}
