.redirect-listing {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fff;
    margin-bottom: 2px;

    .redirect-to {
        border-left: 2px solid $color-p4;
    }

    .redirect-to,
    .redirect-from-group {
        padding: 1em;
    }

    .redirect-arrow {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1.25em;
        height: 1.25em;
        transform: translate(-50%, 1.125em);
        background: $color-p2;
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 0.7rem;
        }
    }

    p {
        font-size: 1rem;
        margin: 0;
        font-weight: 600;
    }
}

.redirects-list {
    margin-top: 1em;

    h2 {
        text-align: center;
    }
}
