.redirect-listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fff;
    margin-bottom: 2px;

    .redirect-to {
        border-left: 2px solid $color-p4;
    }

    .redirect-to,
    .redirect-from-group {
        padding: 1em;
    }

    p {
        margin: 0;
    }
}

.redirects-list {
    margin-top: 3em;

    .container {
        margin-top: 3em;
    }

}
