.stage-warning {
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    max-width: max-content;
    z-index: 10;

    button {
        background: #f6e05e;
        padding: 1em;
        font-weight: 600;
    }
}
