.stage-stats {

    .container {

    }

    .group {
        background: #fff;
        border-radius: 0.25em;
        overflow: hidden;
        margin-bottom: 1em;
        //justify-content: space-between;
    }

    .stat-item {
        flex: 1;
        border-right: 2px solid $color-p4;
        padding: 1em;

        p {
            margin: 0;
        }

        .value {
            font-size: 200%;
            font-weight: 600;
            color: $color-p0;
        }

        .label {
            color: $color-p1;
        }
    }
}
