footer {
    grid-area: footer;
    margin-top: 2em;
    padding: 1em;
    background: $color-p3;
    color: #fff;

    a {
        text-decoration: none;
        color: $color-p1;
        font-size: 0.875rem;
    }
}
