@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Sen:wght@400;700;800&family=Source+Code+Pro:wght@500&display=swap');

body {
    color: $color-p1;
    background: $color-p4;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Sen', sans-serif;
    color: $color-p0;
}

p {
    margin-bottom: 1em;
    line-height: 1.6;
}

main {
    grid-area: main;
}

section,
header,
footer {
    width: 100%;

    .container {
        max-width: $container-width;
        width: 100%;
        margin: 0 auto;
    }

    .group {
        display: flex;
        flex-flow: row wrap;

        &-center {
            justify-content: center;
        }
    }
}

pre {
    background: $color-p3;
    padding: 2em;
    border-radius: 0.25em;
    overflow: auto;

    code {
        font-size: 0.875rem;
        line-height: 1.25;
        font-family: 'Source Code Pro', monospace;
        cursor: text;
    }
}

#app {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 100%;
    justify-content: space-between;
}
