.pageheading {
    position: relative;
    height: 26vh;
    background: $color-p3;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin-bottom: 3em;

    .home-link {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 34px;
        height: 34px;
        fill: $color-p1;
        opacity: 0.25;
        transition: 150ms ease-in-out;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    .container {
        max-width: $container-width;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        margin-bottom: 0.125em;
    }

    p {
        margin: 0;
    }
}
